.card{
    width: 50%; 
    display: inline-block; 
    text-align: center;
}

.names{
    display: initial;
    font-size: large;
    font-style: revert;
    font-variant: petite-caps;
}

.button{
    border: white;
    background-color: white;
}

