<div class="container">
    <p class="text">TOP 10 TV SHOWS</p>
    <div class="card" *ngFor="let show of shows | slice:0:10">
        <div class="card-body">
            <h5 class="card-title">
                <button class="button" (click)="redirect(show.id);"><img
                        src={{show.image}}></button>
                <figcaption><button class="button" (click)="redirect(show.id)">
                        <p class="names">{{show.title}}</p>
                    </button></figcaption>
            </h5>
        </div>
    </div>
</div>